<div class="share">
  <a rel="noopener" target="_blank" href="https://twitter.com/intent/tweet?url={{ page.url | url_encode }}&text={{ page.title | url_encode }}">X</a>
  <a rel="noopener" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | url_encode }}">Facebook</a>
</div>
