<div class="post-meta muted">
  <span>{{ post.published_at | default: post.created_at | date: "%b %e, %Y" }}</span>
  {%- if post.author %} · <span>{{ post.author.name }}</span>{% endif -%}
  {%- if post.categories and post.categories.size > 0 %} ·
    <span>
      {% for c in post.categories %}
        <a href="{{ c.url }}">{{ c.name }}</a>{% if forloop.last == false %}, {% endif %}
      {% endfor %}
    </span>
  {% endif -%}
</div>
