<% if defined?(notice) && notice || flash[:notice] %>
  <div class="bg-green-50 dark:bg-green-900/20 border-l-4 border-green-500 p-4 mx-6 my-4">
    <div class="flex">
      <svg class="w-5 h-5 text-green-600 dark:text-green-400 mr-3" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
      </svg>
      <p class="text-sm text-green-800 dark:text-green-200">
        <%= defined?(notice) && notice ? notice : flash[:notice] %>
      </p>
    </div>
  </div>
<% end %>

<% if defined?(alert) && alert || flash[:alert] %>
  <div class="bg-red-50 dark:bg-red-900/20 border-l-4 border-red-500 p-4 mx-6 my-4">
    <div class="flex">
      <svg class="w-5 h-5 text-red-600 dark:text-red-400 mr-3" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"/>
      </svg>
      <p class="text-sm text-red-800 dark:text-red-200">
        <%= defined?(alert) && alert ? alert : flash[:alert] %>
      </p>
    </div>
  </div>
<% end %>





